body{
  background-color:#000;
  margin: 0;
}
a{
  color:#fff;
  text-decoration:none;
  font-size:20pt;
  text-align: left;
  transition: color 0.5s;
}
a:hover{
  color:#aff;
}
#bgimg{
  width:100%;
  opacity: 1;
  position: fixed;
  top:0;
  z-index: -1;
}
.box1{
  position: absolute;
  left: 8vw;
  top: 5vw;
}
.box2{
  position: absolute;
  left: 52vw;
  top: 5vw;
}
.bg{
  width: 40vw;
  height: 25vw;
  background-color: #000;
  opacity: 0.2;
  border-radius: 3vw;
}
.container{
  width: 36vw;
  height: 21vw;
  padding: 2vw;
}
#div3{
  position: absolute;
  left: 5vw;
  top: 35vw;
  width: 90vw;
}
div>a{
  width:17vw;
  height:3vw;
  float:left;
}
